.order_section {
    padding-top: 111px;
}

.order_container {
    text-align: center;
}

.order_tab_bar {
    display: flex;
    padding-top: 24px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    background: var(--neutral-white, #FFF);
}

.order_title_bar {
    display: flex;
    gap: 13px;
}

.order_welcome {
    color: var(--neutral-800, #3C3C3C);
    font-family: Baskerville;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    letter-spacing: 2.16px;
    text-transform: capitalize;
}

.order_info_section {
    background-color: #F8F9FA;
    padding: 24px;
}

.order_info_container {
    border: 1px solid var(--Outline, #E0E0E0);
    background: var(--neutral-white, #FFF);
    padding: 24px;
}

.order_tab_button {
    border: none;
    background-color: #ffffff;
    display: flex;
    padding-bottom: 25px;
    align-items: center;
    gap: 6px;
    color: var(--neutral-600, #9B9B9B);
    text-align: center;
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: "Comfortaa";
    font-size: 18px;
    font-style: normal;
    opacity: 0.6;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.order_tab_button:hover {
    background-color: #ffffff;
    display: flex;
    padding-bottom: 25px;
    align-items: center;
    gap: 6px;
    color: var(--neutral-800, #3C3C3C);
    text-align: center;
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: "Comfortaa";
    font-size: 18px;
    opacity: 1;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.order_tab_button.active {
    background-color: #ffffff;
    display: flex;
    padding-bottom: 25px;
    align-items: center;
    border-bottom: 3px solid var(--Primary, #7754BF);
    gap: 6px;
    color: var(--neutral-800, #3C3C3C);
    text-align: center;
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: "Comfortaa";
    font-size: 18px;
    opacity: 1;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.tab_button_bar {
    display: flex;
    gap: 40px;
    border: none;
}

.account_title {
    color: var(--neutral-800, #3C3C3C);
    text-align: center;
    font-family: Baskerville;
    font-size: 28px;
    font-style: normal;
    margin-bottom: 21px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.26px;
    text-transform: capitalize;
}

.account_form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-self: stretch;
}

.form_row {
    display: flex;
    gap: 24px;
    align-self: stretch;
}

.first_last {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.first_label {
    color: var(--neutral-800, #3C3C3C);
    font-family: Comfortaa;
    font-size: 16px;
    font-style: normal;
    margin: 0px;
    font-weight: 500;
    line-height: 26px;
    text-transform: capitalize;
}

.form_textbox {
    display: flex;
    height: 48px;
    padding: 16px;
    align-items: center;
    align-self: stretch;
    border: 1px solid var(--Outline, #E0E0E0);
    background: var(--neutral-white, #FFF);
    color: var(--neutral-800, #3C3C3C);
    font-family: Comfortaa;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 151.5%;
    letter-spacing: 0.675px;
}

.account_save_button {
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 6px;
    border: none;
    background: var(--Primary, #7754BF);
    color: var(--neutral-white, #FFF);
    font-family: Comfortaa;
    font-size: 16px;
    font-style: normal;
    margin-top: 21px;
    font-weight: 500;
    line-height: 26px;
    text-transform: capitalize;
}

.account_save_button:hover {
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 6px;
    background: var(--Primary, #7754BF);
    color: var(--neutral-white, #FFF);
    font-family: Comfortaa;
    font-size: 16px;
    font-style: normal;
    margin-top: 21px;
    font-weight: 500;
    line-height: 26px;
    text-transform: capitalize;
}

.address_save_button {
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    border: none;
    background: var(--Primary, #7754BF);
    color: var(--neutral-white, #FFF);
    font-family: Comfortaa;
    font-size: 16px;
    font-style: normal;
    margin-top: 21px;
    font-weight: 500;
    line-height: 26px;
    text-transform: capitalize;
}

.address_save_button:hover {
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 6px;
    background: var(--Primary, #7754BF);
    color: var(--neutral-white, #FFF);
    font-family: Comfortaa;
    font-size: 16px;
    font-style: normal;
    margin-top: 21px;
    font-weight: 500;
    line-height: 26px;
    text-transform: capitalize;
}

.country_dropdown {
    display: flex;
    height: 48px;
    padding: 16px;
    align-items: center;
    align-self: stretch;
    border: 1px solid var(--Outline, #E0E0E0);
    background-color: #FFF;
    background-image: url(../img/dropdown\ icon.svg);
    background-position: right 16px center;
    background-repeat: no-repeat;
    color: var(--neutral-800, #3C3C3C);
    font-family: Comfortaa;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 151.5%;
    letter-spacing: 0.675px;
}

.order_tab {
    display: flex !important;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}

.order_left {
    display: flex;
    width: 776px;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;
    flex-shrink: 0;
}

.order_right {
    border: 1px solid var(--Outline, #E0E0E0);
    background: var(--neutral-400, #F4F4F4);
    display: flex;
    width: 360px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    align-self: stretch;
}

.order_history_title {
    color: var(--neutral-800, #3C3C3C);
    text-align: center;
    font-family: Baskerville;
    font-size: 28px;
    font-style: normal;
    margin: 0px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.26px;
    text-transform: capitalize;
}

.see_more_button {
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 6px;
    border: none;
    background: var(--Primary, #7754BF);
    color: var(--neutral-white, #FFF);
    font-family: Comfortaa;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    text-transform: capitalize;
}

.see_more_button:hover {
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 6px;
    background: var(--Primary, #7754BF);
    color: var(--neutral-white, #FFF);
    font-family: Comfortaa;
    font-size: 16px;
    font-style: normal;
    margin: 0px;
    font-weight: 500;
    line-height: 26px;
    text-transform: capitalize;
}

.account_tab_nav {
    display: block;
}

.mob_tab_dropdown {
    display: none;
}

.order_date {
    color: var(--neutral-800, #3C3C3C);
    font-family: Comfortaa;
    font-size: 16px;
    font-style: normal;
    margin: 0px;
    font-weight: 500;
    line-height: 26px;
    text-transform: capitalize;
}

.order_qty {
    color: var(--neutral-700, #656565);
    font-family: Comfortaa;
    font-size: 12px;
    font-style: normal;
    margin: 0px;
    font-weight: 500;
    line-height: 16px;
}

.order_number {
    color: var(--functional-info-blue, #005BB9);
    font-family: Comfortaa;
    font-size: 16px;
    font-style: normal;
    text-decoration: none;
    margin: 0px;
    font-weight: 500;
    line-height: 26px;
    text-transform: capitalize;
}

.order_summary_title {
    color: var(--neutral-800, #3C3C3C);
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: Comfortaa;
    font-size: 18px;
    font-style: normal;
    margin: 0px;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.order_summary_title_bar {
    border-bottom: 1px solid var(--Outline, #E0E0E0);
    background: var(--neutral-400, #F4F4F4);
    padding: 16px;
    padding-bottom: 20px;
}

.order_summary_info {
    border-bottom: 1px solid var(--neutral-400, #F4F4F4);
    background: var(--neutral-400, #F4F4F4);
    display: flex;
    padding: 15px 13px;
    align-items: center;
    gap: 10px;
}

.summary_image_bg {
    background-color: #FFFFFF;
    padding: 12.5px;
}

.product_summary_image {
    height: 89px;
    width: 72px;
}





.summary_total_bar {
    padding: 24px 13px;
    display: flex;
    background: var(--neutral-400, #F4F4F4);
    flex-direction: column;
    gap: 15px;
}


.sub_amount {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.subtotal_text {
    color: var(--neutral-700, #656565);
    font-family: Comfortaa;
    font-size: 16px;
    font-style: normal;
    margin: 0px;
    font-weight: 500;
    line-height: 26px;
    text-transform: capitalize;
}

.subtotal_amount {
    color: var(--neutral-700, #656565);
    text-align: right;
    font-family: Comfortaa;
    font-size: 16px;
    font-style: normal;
    margin: 0px;
    font-weight: 500;
    line-height: 26px;
    text-transform: capitalize;
}

.total_price {
    padding-top: 15px;
    border-top: 1px solid #E0E0E0;
}

.total_text {
    color: var(--neutral-800, #3C3C3C);
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: Comfortaa;
    font-size: 18px;
    font-style: normal;
    margin: 0px;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.total_amount {
    color: var(--neutral-800, #3C3C3C);
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: Comfortaa;
    font-size: 18px;
    font-style: normal;
    margin: 0px;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.product_name {
    color: var(--neutral-800, #3C3C3C);
    font-family: Comfortaa;
    font-size: 16px;
    font-style: normal;
    margin: 0px;
    font-weight: 500;
    line-height: 26px;
    text-transform: capitalize;
}

.product_type {
    color: var(--neutral-700, #656565);
    font-family: Comfortaa;
    font-size: 12px;
    font-style: normal;
    margin: 0px;
    font-weight: 500;
    line-height: 16px;
}

.summary_qty {
    color: var(--neutral-700, #656565);
    font-family: Comfortaa;
    font-size: 12px;
    font-style: normal;
    margin: 0px;
    font-weight: 500;
    line-height: 26px;
}

.summary_price {
    color: var(--neutral-800, #3C3C3C);
    text-align: right;
    font-family: Comfortaa;
    font-size: 16px;
    font-style: normal;
    margin: 0px;
    font-weight: 500;
    line-height: 26px;
    text-transform: capitalize;
}
.account_tab{
    padding: 24px 24px 40px 24px;
}

.order_tab_main{
    padding: 24px 24px 40px 24px;
    background-color: #FFFFFF;
}



/* order Css */

.order-row {
    border-top: 2px solid #E0E0E0;
    padding: 16px 8px 16px 8px;
    cursor: pointer;
}

.order-row.current {
    border-top: 2px solid var(--Primary, #7754BF);
    background: #F8F9FA;
}

.rder-row-main .current .show-img-box {
    display: block;
}

.show-img-box {
    background: #F4F4F4;
    padding: 10px 10px;
    margin-right: 10px;
    display: none;
    transition: all .6s;
}

.show-img {
    display: flex;
    margin-top: 12px;
}

.order-sum-mo {
    display: none;
}